body{
  background: rgb(245,245,245);
  color: black;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 35px;
}
a {
  color: blue;
}
a:hover {
  text-decoration: none;
  color: purple;
}
nav ul {
  float: center;
  margin-top: 25px;
}

.feature,.defi {
 	border: 1px solid #F2F2F2;
 	margin: 15px;
	padding: 15px 0;
	text-align: center;
	width: 400px;
	background: #FAFAFA;}
 #apropos{
  margin: 0 auto;
  width: 80%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
#logo{
  color: #fff;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}
#baseline a:hover {
  position: relative;
  top:1px;
}
#welcome{
  background-color: #41A3C0;
  text-align: center;
  padding: 50px;
  color: white;
}
#welcome h4{
 font-size: 50px;
}

